body {

    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
      "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
      sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
  .rsb-sections a{
    background-color:#ffffff ;
    text-decoration: none;
color: black;
font-size: small;
  }
  @import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.3.0/font/bootstrap-icons.css");
/* Option 2: Import via CSS */

  .rsb-sections {
    width: 400px;
    border: 2;
    border-color: #dc3545;
  }

  .logo {
    font-family: "Your Font Here", sans-serif; /* Replace "Your Font Here" with the actual font you want to use */
    font-size: 24px; /* Adjust the font size */
    font-weight: bold; /* Adjust the font weight */
    font-style: italic; /* Adjust the font style */
    color: #ffffff; /* Adjust the font color */
    letter-spacing: 2px;
    /* Add any other styling properties you need */
  }
  code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
      monospace;
  }
  body {
    margin: 0;
    padding: 0;
    font-family: "Arial", sans-serif;
  }
  
  header {
    background-color: #333;
    color: #fff;
    padding: 10px;
    text-align: center;
    
  }
  img{
    height: 40px;
  }
  .card img{
    height: 120px;
    width: 190px;
  }
  .article-item {
    display: flex;
    padding: 23px;
  }
  .article-item p {
    margin-left: 10px;
    font-size: 22px;
}

  .article-footer{
    margin-left: 500px;
    font-size: 16px;
  }
  nav {
    background-color: #00426d;
    color: #fff;
    padding:7px;
    text-align: center;
    text-decoration: none;
    transition: color 0.3s ease;
  }
  .headera{
    background-color: #ffffff;
    color: #fff;
    padding:6px;
    text-align: left;
    text-decoration: none;
    transition: color 0.3s ease;
  }
  nav a:hover {
    color: #dc3545;
    text-decoration: none;
  }
  
  nav a {
    color: #fff;
    text-decoration: none;
    background-color:#00426d ;
    padding: 10px 20px; /* Padding for the button */
    border: none; /* Remove border */
    border-radius: 0px; /* Optional: Add border-radius for rounded corners */
    cursor: pointer; /* Add a pointer cursor on hover */
      text-decoration: none;
      margin-right: 1px;
      margin-right: 1px;
      font-weight:bold;
  
  

  }
  a {
    text-decoration: none;
    cursor: pointer;
  }
  a:hover {
    background-color: #ffffff; /* Change background color on hover */
    color: #dc3545;
    text-decoration: none;
    font-weight:bold;
    border-bottom: 2px solid #e74c3c; /* Red bottom border */
  }

  main {
    padding: 0px;
    width: 400px;
    align-items: center;
    align-content: center;
  }
  
  footer {
    background-color: #00426d;
    color: #fff;
    padding: 10px;
    text-align: center;
    bottom: 0;
    width: 100%;
  }

  .custom-height-image {
    height: 300px;
    object-fit: cover;
  }

  .rsb-sections a:hover {
    background-color: #ffffff; /* Change background color on hover */
    text-decoration: none;
  }